.progress, .progress .progress-fill {
	display: block;
	height: 32px;
	border-radius: 4px;
}
.progress {
	width: 100%;
	background-color: #eee;
	border: 1px solid #ddd;
	margin-bottom: 25px;
}
.progress .progress-fill {
	background: #008ec2;
	width: 0%;
	transition: 0.4s ease width;
}