.progress, .progress .progress-fill {
	display: block;
	height: 32px;
	border-radius: 4px;
}
.progress {
	width: 100%;
	background-color: #eee;
	border: 1px solid #ddd;
	margin-bottom: 25px;
}
.progress .progress-fill {
	background: #008ec2;
	width: 0%;
	transition: 0.4s ease width;
}
.ajax_action {
	text-align: center;
}
.button.button-danger {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}
.button.button-danger:hover {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
	opacity: 0.9;
}
.ex-timer {
	font-size: 36px;
	line-height: 40px;
	text-align: center;
	color: #333;
}
#cache-report {
	background-color: #e5e5e5;
}
#exchange-logs {
	padding: 8px 14px;
	width:100%;
	resize:vertical;
	margin:20px 0;
}
